<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Demo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .custom-header {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
      }
      .custom-button {
        background-color: black;
        color: white;
      }
      .black-box {
        background-color: black;
        color: white;
        padding: 20px;
        margin: 10px;
        text-align: center;
        border-radius: 10px; /* Закругление углов */
      }
    </style>
  </head>
  <body>
    <div class="custom-header">
      <h2>Супер Отель</h2>
    </div>

    <div class="container text-center mt-5">
      <h1>Информация о сайте</h1>
      <a href="/reg" class="btn custom-button btn-lg mt-5">Для работы с продуктом требуется регистрация</a>
      <div class="mt-5 d-flex justify-content-center">
        <div class="black-box">с помощью этого сайта, вы не проебете свои лишние деньги на всякую хуйню</div>
        <div class="black-box">он вам сообщит о всех проблемах вашей поездки</div>
        <div class="black-box">так же укажет все твои проебаные деньги, лох ебаный</div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
